* {margin:0; padding:0;}
/* HTML5 tags */
header, section, footer,
aside, nav, article, figure {
	display: block;
}
/***** Global *****/
/* Body */
body {
	background: #fff;
	color: #000305;
	font-size: 13px; /* Base font size: 13px */
	font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	line-height: 1.429;
	margin: 0;
	padding: 0;
	text-align: left;
}

/* Headings */
h2 {font-size: 1.571em}	/* 22px */
h3 {font-size: 1.429em}	/* 20px */
h4 {font-size: 1.286em}	/* 18px */
h5 {font-size: 1.143em}	/* 16px */
h6 {font-size: 1em}	/* 14px */

h2, h3, h4, h5, h6 {
	font-weight: 400;
	line-height: 1.1;
	margin-bottom: .8em;
}

/* Anchors */
a {outline: 0;}
a img {border: 0px; text-decoration: none;}
a:link, a:visited {
	color: #19e;
	padding: 0 1px;
	text-decoration: none;
}
a:hover, a:active {
	background-color: #123;
	color: #fff;
	text-decoration: none;
/*  text-shadow: 1px 1px 1px #333;*/
}

/* Paragraphs */
p {margin-bottom: 1.143em;}
* p:last-child {margin-bottom: 0;}

strong, b {font-weight: bold;}
em, i {font-style: italic;}

::-moz-selection {background: #F6CF74; color: #fff;}
::selection {background: #F6CF74; color: #fff;}

/* Lists */
ul {
	list-style: outside disc;
	margin: 1em 0 1.5em 1.5em;
}

ol {
	list-style: outside decimal;
	margin: 1em 0 1.5em 1.5em;
}

dl {margin: 0 0 1.5em 0;}
dt {font-weight: bold;}
dd {margin-left: 1.5em;}

/* Quotes */
blockquote {font-style: italic;}
cite {}

q {}

pre { 
    margin-bottom: 1.143em;
    font-family:"Andale Mono", "Monaco", "Consolas", monospace;
    font-size: .95em;
}
* pre:last-child { 
    margin-bottom: 0px;
}

/* Tables */
table {margin: .5em auto 1.5em auto; width: 98%;}
    th {padding: .5em .4em; text-align: left;}
    td {padding: .5em .4em; text-align: left;}

	
/* Clear */
.clear {clear:both;}